{% extends "layout.html" %}

{% block heading %} Book Review Website by ThatPythonGuys (official, not scam) {% endblock %}

{% block body %}

  <h3>Welcome {{ username }}!</h3>

  {%- if "logged_in" in session and session.get("logged_in") == True -%}
  <p> Logged in as {{ username }}.</p>
  {%- else -%}
    <a href="{{ url_for('register') }}">Register for the site!</a>
    <br>
    <a href="{{ url_for('login') }}">Log in to the site</a>
  {%- endif -%}
  <br>
  <a href="{{ url_for('search') }}">Search for books!</a>
  <br>
  {%- if "logged_in" in session or session.get("logged_in") == True -%}
  <a href="{{ url_for('logout') }}">Log out</a>
  {%- endif -%}
{% endblock %}
